In [1]:
import pandas as pd
import numpy as np
import os, pickle
data1=[]
rootdir = 'T20_matches'
cnt=0
for subdir, dirs, files in os.walk(rootdir):
    if(cnt>=1):
        break
    try: 
        for file in files:
            if(file[-1]=='v'):
                continue
            if(cnt>=1):
                break
            if file.endswith('1.pkl'):
                print(os.path.join(subdir,file ))
                with open(os.path.join(subdir,file), 'rb') as f:
                    data1+= (pickle.load(f))
                    
                    cnt+=1
    except: 
        pass

T20_matches/england-vs-west-indies-only-t20i-534208/textsInnings1.pkl

/var/folders/lz/7tzrmr9x1xs5pplr6wnzp5jr0000gn/T/ipykernel_3425/869961850.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
df1 = pd.DataFrame(data1,columns=['bowler', 'batsman', 'wickets', 'over', 'outcome'])

In [5]:
import json
with open("T20_matches/england-vs-west-indies-only-t20i-534208/match_info.json", 'r') as file:
    match_info = json.load(file)

In [6]:
match_info

{'Stadium Name': 'Trent Bridge, Nottingham',
 'Toss Winner': 'West Indies',
 'First Innings': 'West Indies',
 'Second Innings': 'England',
 'First Innings runs': '172',
 'Second Innings runs': '173',
 'First Innings Wickets': '4',
 'Second Innings Wickets': '3',
 'Winner': 'England'}

In [10]:
df1['batting_team'] = match_info['First Innings']
df1['bowling_team'] = match_info['Second Innings']
df1['venue'] = match_info['Stadium Name']
df1['toss_won'] = int(match_info['Toss Winner'] == match_info['First Innings'])

In [12]:
df1.tail(10)

,bowler,batsman,wickets,over,outcome,batting_team,bowling_team,venue,toss_won
110,Broad,Dwayne Bravo,4,19,2,West Indies,England,"Trent Bridge, Nottingham",1
111,Broad,Dwayne Bravo,4,19,1,West Indies,England,"Trent Bridge, Nottingham",1
112,Broad,Pollard,4,19,6,West Indies,England,"Trent Bridge, Nottingham",1
113,Broad,Pollard,4,19,2,West Indies,England,"Trent Bridge, Nottingham",1
114,Dernbach,Dwayne Bravo,4,20,4,West Indies,England,"Trent Bridge, Nottingham",1
115,Dernbach,Dwayne Bravo,4,20,6,West Indies,England,"Trent Bridge, Nottingham",1
116,Dernbach,Dwayne Bravo,4,20,1,West Indies,England,"Trent Bridge, Nottingham",1
117,Dernbach,Pollard,4,20,1,West Indies,England,"Trent Bridge, Nottingham",1
118,Dernbach,Dwayne Bravo,4,20,1,West Indies,England,"Trent Bridge, Nottingham",1
119,Dernbach,Dwayne Bravo,4,20,3,West Indies,England,"Trent Bridge, Nottingham",1